body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    border: 1px solid red;
}

.header,
.first,
.footer {
    background-color: #1f2937;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header .links ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    gap: 10px;
}

.header .links,
.first .description p,
.footer{
    font-size: 18px;
    color: #e5e7eb;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.first{
    display: flex;
}

.first .description h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.first .description,
.first .image {
    width: 50%;
}

.second .subtitle h2{
    text-align: center;
}

.second .img-container{
    display: flex;
    gap: 20px;
}

.img{
    height: 100px;
    width: 100%;
}

.fourth{
    display: flex;
    justify-content: center;
}

.container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
}

