body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

* {
    border: 1px solid red;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header .links ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    gap: 10px;
}

.first{
    display: flex;
}

.first .description,
.first .image {
    width: 50%;
}

.footer{
    align-self: center;
}

